/* Placer les styles personnalisés ci-dessous */
.ui-datepicker-calendar { 
    display: none; 
}
#myclass{
    overflow:auto;
    width: 1600px;
}
#errorMsg{
    padding:14px;
    line-height:2;
}
.projectTotal{
    width:50px;
}
.notShow{
    display:none;
}
